.container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 900px;
  color: black;
}

.text {
  margin: 0 0 15px;
}

.span {
  background-color: white;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  color: black;
}
