.container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.btn {
  display: block;
  padding: 6px;
  width: 100px;
  font-weight: 800px;
  font-size: 18px;
  color: black;
  height: 50px;
  outline: none;
  background-color: white;
}

.btn:hover {
  background-color: black;
  color: white;
}
